<div id="productreport">
       
  <!-- <div class="page-header text-center">
    <h1>Produtos</h1>

  </div> -->
  <div class="friends-list" v-if="invoiceItems.length > 0">
    <h5 class="text-muted">Produtos</h5>
    <table class="table table-striped">
      <thead>
        <th class="d-none d-md-table-cell">Código</th>
        <th>Nome</th>

        <th class="d-none d-md-table-cell">Quantidade</th>
        <th class="d-none d-md-table-cell">Custo</th>
        <th class="d-none d-md-table-cell">Luco Bruto</th>
        <th class="d-none d-md-table-cell">Luco Liquido</th>
        <th class="actions-column"></th>
      </thead>
      <tbody>
        
        <tr v-for="invoiceItem in invoiceItems">
          <td><strong>{{invoiceItem._id.product[0].code}}</strong></td>
          <td><strong>{{invoiceItem._id.product[0].name}}</strong></td>
           <td class="d-none d-md-table-cell">{{invoiceItem.quantity}}</td>
           <td class="d-none d-md-table-cell">{{invoiceItem.totalCost}}</td>
           <td class="d-none d-md-table-cell">{{invoiceItem.totalPrice}}</td>
         
        
          <td class="d-none d-md-table-cell">{{invoiceItem.totalPrice-invoiceItem.totalCost}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Total</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
 
</div>
    
    <%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>