<div id="productreport">
       
  <div class="page-header text-center">
    <h1>Relatório de Vendas Por Produto</h1>
    <div class="col-md-12">
      <label  >Periodo</label>
      
      <v-select  v-model="month"  :options="months" label="name"></v-select>
      <div class="form-group">
        <span class="add-more-button" @click="find()"><span class="fa fa-plus text-info mr-1"></span> Pesquisar</span>
      </div>
    </div>
  </div>
  <div class="friends-list" v-if="invoiceItems.length > 0">
    <h5 class="text-muted">Produtos</h5>
    <table class="table table-striped">
      <thead>
        <th class="d-none d-md-table-cell">Código</th>
        <th>Nome</th>

        <th class="d-none d-md-table-cell">Quantidade</th>
        <th class="d-none d-md-table-cell">Custo</th>
        <th class="d-none d-md-table-cell">Vendas</th>
        <th class="d-none d-md-table-cell">Lucro</th>
        <th class="actions-column"></th>
      </thead>
      <tbody>
       
        <tr v-for="invoiceItem in invoiceItems">
         
          <td><strong>{{invoiceItem.invoiceitems.product[0]}}</strong></td>
          <!-- <td><strong>{{invoiceItem._id.product[0].name}}</strong></td> -->
           <td class="d-none d-md-table-cell">{{invoiceItem.quantity}}</td>
           <td class="d-none d-md-table-cell">{{invoiceItem.totalCost | formatEuro}}</td>
           <td class="d-none d-md-table-cell">{{invoiceItem.totalPrice | formatEuro}}</td>
         
        
          <td class="d-none d-md-table-cell">{{invoiceItem.totalPrice-invoiceItem.totalCost | formatEuro}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Total</th>
          <th></th>
          <th></th>

          <th>{{totalCusto | formatEuro}}</th>
          <th>{{totalVendas | formatEuro}}</th>
           <th>{{total | formatEuro}}</th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
 
</div>
    
    <%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>