<div id="customer">
    <div class="page-header text-center">
        <h1>Clientes</h1>
        <h2>Visualizar e Editar Clientes.</h2>
        <div class="header-buttons">
          <button class="btn btn-outline-primary" @click="clickAddButton()">Adicionar Clientes</button>
        </div>
      </div>
      <div class="friends-list" v-if="customers.length > 0">
        <h5 class="text-muted">Clientes</h5>
        <table class="table table-striped">
          <thead>
            <th>Nome</th>
            <th class="actions-column"></th>
          </thead>
          <tbody>
            <tr v-for="customer in customers">
              <td><strong>{{customer.name}}</strong></td>
              <td class="actions-column">
                <button class="btn btn-sm btn-outline-danger" @click="clickRemoveCustomer(customer.id)">Remove client</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <% /* "Add customer" modal */ %>
  <modal v-if="virtualPageSlug === 'new'" v-cloak key="new" @close="closeAddCustomersModal()">
    <div class="modal-header">
      <h5 class="modal-title">Adicionar Clientes</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="addCustomer" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingAddCustomersForm" @submitted="submittedAddCustomersForm()">
      <div class="modal-body">
        <div class="form-group" v-for="(customer, index) in addCustomersFormData.customers">
          <div class="row">
              <div class="col">
                  <label >Codigo</label>
                  <input class="form-control" type="text" v-model="addCustomersFormData.customers[index].code" >
                </div>
            <div class="col">
              <label>Nome</label>
              <input class="form-control" type="text" v-model="addCustomersFormData.customers[index].name" >
            </div>
          </div>
        </div>
     
         <p class="text-danger" v-if="formErrors.customers"><small>Please make sure all your invitees have a name and an email address.</small></p>
         <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
      </div>
      <div class="modal-footer flex-row-reverse justify-content-start">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Guardar</ajax-button>
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Cancelar</button>
      </div>
    </ajax-form>
  </modal>


  <% /* "Remove friend" modal */ %>
  <modal v-if="confirmRemoveCustomerModalOpen && selectedCustomer" v-cloak key="remove" @close="closeRemoveCustomerModal()">
    <div class="modal-header">
      <h5 class="modal-title">Desejas remover o cliente {{selectedCustomer.name}}?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="removeCustomer" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingRemoveCustomerForm" @submitted="submittedRemoveCustomerForm($event)">
      <div class="modal-body">
        <p>Deseja realmente remover o cliente {{selectedCustomer.name}} ?</p>
        <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Cancelar</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-danger ml-1">Remover Cliente</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <%/* For virtual pages */%>
  <router-view></router-view>
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>