<div id="welcome">
  <div class="container">
    <h1>Bem Vindo!</h1>
    <hr/>
    <p>Este é o sistema financeiro da Regoldi.</p>
   
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
