<div id="invoice">
    <div class="page-header text-center">
        <h1>Faturas</h1>
        <h2>Visualizar e Editar Faturas.</h2>
        <div class="header-buttons">
          <button class="btn btn-outline-primary" @click="clickAddButton()">Adicionar Fatura</button>
        </div>
      </div>
      <div class="friends-list" v-if="invoices.length > 0">
        <h5 class="text-muted">Faturas</h5>
        <table class="table table-striped">
          <thead>
            <th>Nome</th>
            <th class="d-none d-md-table-cell">Email</th>
            <th class="d-none d-md-table-cell">Telemovel</th>
            <th class="actions-column"></th>
          </thead>
          <tbody>
            <tr v-for="invoice in invoices">
              <td><strong>{{invoice.name}}</strong></td>
              <td class="d-none d-md-table-cell">{{invoice.email}}</td>
              <td class="d-none d-md-table-cell">{{invoice.telemovel}}</td>
              <td class="actions-column">
                <button class="btn btn-sm btn-outline-danger" @click="clickRemoveInvoice(invoice.id)">Remove client</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <% /* "Add invoice" modal */ %>
  <modal v-if="virtualPageSlug === 'new'" v-cloak key="new" @close="closeAddInvoicesModal()">
    <div class="modal-header">
      <h5 class="modal-title">Adicionar Faturas</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="addInvoice" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingAddInvoicesForm" @submitted="submittedAddInvoicesForm()">
      <div class="modal-body">
        <div class="form-group" >
          <div class="row">
              <div class="col">
                  <label  >Empresa</label>
                  <v-select :options="companies" label="name"></v-select>
                </div>
                
              </div>
              <div class="row">
            <div class="col">
              <label  >Data</label>
              <input class="form-control"  type="tel" v-mask="'##/##/####'" v-model="addInvoicesFormData.invoice.data" >
            </div>
            <div class="col">
              <label >Número</label>
              <input class="form-control" type="text" v-model="addInvoicesFormData.invoice.name" >
            </div>
           
          </div>
          <div class="row">
              <div class="col">
                  <label  >Cliente</label>
                  <v-select :options="customers" label="name"></v-select>
                </div>
                
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <label  >Produtos</label>
                      
                      <v-select  v-model="product"  :options="products" label="name"></v-select>
                    </div>
              </div>
       
              <div class="row">
              <div class="col-md-4">
                  <label >Quantidade</label>
                  <input class="form-control" type="text" v-model="quantity" >
                </div>
                   
                    <div class="col-md-4">
                        <label >Preço Custo</label>
                        <money v-model="product.costPrice"  v-bind="money" class="form-control" ></money>
                      
                      </div>
                      <div class="col-md-4">
                          <label >Preço de Venda</label>
                          <money v-model="product.salePrice"  v-bind="money" class="form-control" ></money>
                        
                        </div>
                  
              </div>
                  <div class="friends-list" v-if="addInvoicesFormData.invoice.invoiceItems.length > 0">
                      <h5 class="text-muted">Produtos</h5>
                      <table class="table table-striped">
                        <thead>
                          <th>Produto</th>
                          <th class="d-none d-md-table-cell">Quantidade</th>
                          <th class="d-none d-md-table-cell">Materia Prima</th>
                          <th class="d-none d-md-table-cell">Preço de Venda</th>
                          <th class="actions-column"></th>
                        </thead>
                        <tbody>
                          <tr v-for="invoiceItem in addInvoicesFormData.invoice.invoiceItems">
                            <td><strong>{{invoiceItem.product.name}}</strong></td>
                            <td><strong>{{invoiceItem.quantity}}</strong></td>
                            <td class="d-none d-md-table-cell">{{invoiceItem.costPrice}}</td>
                            <td class="d-none d-md-table-cell">{{invoiceItem.salePrice}}</td>
                            <td class="actions-column">
                              <button class="btn btn-sm btn-outline-danger" @click="clickRemoveProduct(product.id)">Apagar Item</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

        </div>
        <div class="form-group">
          <span class="add-more-button" @click="clickAddMoreButton()"><span class="fa fa-plus text-info mr-1"></span> Add more</span>
        </div>
         <p class="text-danger" v-if="formErrors.invoices"><small>Please make sure all your invitees have a name and an email address.</small></p>
         <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
      </div>
      <div class="modal-footer flex-row-reverse justify-content-start">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Guardar</ajax-button>
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Cancelar</button>
      </div>
    </ajax-form>
  </modal>


  <% /* "Remove friend" modal */ %>
  <modal v-if="confirmRemoveInvoiceModalOpen && selectedInvoice" v-cloak key="remove" @close="closeRemoveInvoiceModal()">
    <div class="modal-header">
      <h5 class="modal-title">Desejas remover o cliente {{selectedInvoice.name}}?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="removeInvoice" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingRemoveInvoiceForm" @submitted="submittedRemoveInvoiceForm($event)">
      <div class="modal-body">
        <p>Deseja realmente remover o cliente {{selectedInvoice.name}} ?</p>
        <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Cancelar</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-danger ml-1">Remover Cliente</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <%/* For virtual pages */%>
  <router-view></router-view>
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>