<div id="confirmed-email" v-cloak>
  <div class="container">
    <h1 class="text-center">Email confirmed</h1>
    <div class="confirmation-message">
      <hr/>
      <p>Parabéns, sua conta foi verificada! Tens acesso total.</p>
      <p><a class="btn btn-outline-info" href="/">Ir para Dashboard/a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
