<div id="login" v-cloak>
  <div class="container">
    <h1 class="text-center">Entrar em sua conta</h1>
    <div class="login-form-container">
      <hr/>
      <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email Address" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Por favor digite um email válido.</div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password">
          <div class="invalid-feedback" v-if="formErrors.password">Por favor entre com um password.</div>
        </div>
        <div class="form-group">
          <input type="checkbox" id="remember" name="rememberMe" v-model="formData.rememberMe"/>
          <label for="remember">Lembre-me</label>
        </div>
        <p class="text-danger" v-if="cloudError==='badCombo'"><small>As credenciais que entrastes não é de uma conta válida.</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
        <div class="form-group">
          <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block">Entrar</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/password/forgot">Esqueceu sua password?</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
